<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177395710789-1stducq15cj7o58p3h9c4cm4r1h3fcf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177395710789-1stducq15cj7o58p3h9c4cm4r1h3fcf5</string>
	<key>API_KEY</key>
	<string>AIzaSyAngHbSH0chlTQYZUsLW4QwU_v0WuXsnmM</string>
	<key>GCM_SENDER_ID</key>
	<string>177395710789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutter</string>
	<key>PROJECT_ID</key>
	<string>whatsap-flutter-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsap-flutter-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177395710789:ios:5b67f1a89324abb8861c2c</string>
</dict>
</plist>